<?php
	$lifetime=600;
	session_start();
	setcookie(session_name(),session_id(),time()+$lifetime);
	if(isset($_SESSION['id']) && isset($_POST['password']) && $_POST['password'] != "") {
		$id = $_SESSION['id'];
		$newpassword = $_POST['password'];
		
		$calc = new Calculator();
		$reset = $calc->resetPassword($id, $newpassword);
		
		if(!$reset) {
			echo json_encode(array('success' => 0, 'error' => 'An error occurred'));
		} else {
			echo json_encode(array('success' => 1));
		}
	} else {
		echo json_encode(array('success' => 0, 'error' => 'Data missing'));
	}

?>