<?php
	$lifetime=600;
	session_start();
	setcookie(session_name(),session_id(),time()+$lifetime);
	$user = array();
	if(isset($_SESSION['user'])) {
		$user = $_SESSION['user'];
	}
?>
<div id="goals" class="page billboard">
	<div id='billboard'>
		<h1>Looking good.</h1>
		<div id='goalscontainer'>
			<p>Now tell us what you want to save for. From the latest games to a brand new bike, the more money you store away the more your pot will grow. Whatever your goal, it can be yours with a little help from 1|2|3 Mini Calculator.</p>
			<div id='allgoals'>
				<?php
					$count = 0;
					do {
						if($count == 0) {
							$id = " id='firstgoal'";
						} else {
							$id = "";
						}
						if(isset($user['goals'][$count]) && $user['goals'][$count] != "false" && $user['goals'][$count]['cost'] != "undefined") {
							echo "<div".$id." class='goal active'>";
							echo "<a id='goal".($count+1)."image' href='/goals/".($count+1)."'><img src='/img/goals/goal-".$user['goals'][$count]['icon'].".png'/></a>";
							echo "<p id='goal".($count+1)."description' class='description'>".$user['goals'][$count]['name']."</p>";
							echo "<p id='goal".($count+1)."price'>£".$user['goals'][$count]['cost']."</p>";
							echo "</div>";
						} else {
							echo "<div".$id." class='goal'>";
							echo "<a id='goal".($count+1)."image' href='/goals/".($count+1)."'><img src='/img/goals/no-goal-icon.png'/></a>";
							echo "<p id='goal".($count+1)."description' class='description'></p>";
							echo "<p id='goal".($count+1)."price'></p>";
							echo "</div>";
						}
						$count++;
					} while($count < 3);
				?>
			</div>
		</div>

		<div id='backbutton'>
			<?php
				if(isset($_SESSION['user'])) {
					echo "<a href='/menu'><img src='/img/back-arrow.png'/><p>Back</p></a>";
				} else {
					echo "<a href='javascript:window.history.back()'><img src='/img/back-arrow.png'/><p>Back</p></a>";
				}
			?>
		</div>

		<div id='nextbutton' class='normalbutton inversebuttoncolors'>
			<?php
				if(isset($_SESSION['loggedin'])) {
					echo "<a href='/menu'>Continue</a>";
				} else {
					echo "<a href='/signup'>Start saving</a>";		
				}
			?>
		</div>
		
	</div>

	<div id='bgextras'>
		<div id='billboardbush' class='bgelement'></div>
		<div id='tree' class='bgelement'></div>
	</div>
</div>