<div id="home" class='page'>
	<div id='introcontainer'>
		<h1>Hi there!</h1>
		<div id='introtextcontainer'>
			<p id='maintext'>Welcome to Santander 1I2I3 Mini Calculator. An online tool that helps you learn how to save.</p>
			<p style="text-align:right;"><a href="/game/">Click here</a> for a sneak preview of the Mini Jets game.</p>
			<h2 id='subtitle'>New here?</h2>
			<div id='startbutton' class='normalbutton'>
				<a href='/user' id="startButton">Get started</a>
			</div>
			<div id='loginline'>
				<p id='logintitle'>Been here before?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href='/login' id='loginbutton'>Login</a></p>
			</div>
		</div>
	</div>
	
	<div id='disclaimercontainer'><p>The 1I2I3 Mini Calculator is for illustrative purposes only</p></div>
	
	<div id='bgextras'>
		<div id='bush' class='bgelement'></div>
		<div id='character' class='bgelement'></div>
		<div id='sign' class='bgelement'></div>
		<div id='tree' class='bgelement'></div>
		<!-- div id='sun'></div -->
	</div>
	
	<div id="webappprompt">
		<a href="#" id="closeprompt" class="no-ajaxy"><img src="/img/prompt-close.png" alt="Close" /></a>
		<p>Why not install this web app on your phone? Tap <span id="prompt-icon"><img src="" alt="Add to Home Screen" /></span> and select ‘Add to Home Screen’</p>
	</div>
</div>
