<?php
	$lifetime=600;
	session_start();
	setcookie(session_name(),session_id(),time()+$lifetime);
	$user = array();
	$userSet = false;
	if(isset($_SESSION['user'])) {
		$userSet = true;
		$user = $_SESSION['user'];
	}
	if(isset($_SESSION['user']['name'])) {
		$name = $_SESSION['user']['name'];
	}
?>
<div id="menu" class="data page billboard">
	<div id='billboard'>
		<h1>Hi <span id="name"><?php if(isset($name)) { echo $name; } else { echo 'there!'; } ?></span></h1>
		<div id="menu-buttons" class="normalbutton inversebuttoncolors">
			<a href="/calculator">123 Mini Calculator</a><br />
		<?php if ($userSet === true){ ?>
			<a href="/character">Change your Mini Me</a><br />
			<a href="/goals">Set your goals</a><br />
		<?php } else { ?>
			<a href="/character">Create Mini Me</a><br />
		<?php } ?>
			<a href="/game/">Play the game</a>
		</div>
	</div>
	
	<div id='bgextras'>
		<div id='billboardbush' class='bgelement'></div>
		<div id='tree' class='bgelement'></div>
	</div>
</div>