<div id="secret" class="data page billboard">
	<div id='billboard'>
		<h1>Welcome!</h1>
		<form id="question-form" method="post" action="/ajax/signup">
			<div id="fields">
				<div class="grid2col">
					<div class="column">
						<p class='intro'>Select a secret question and password below</p>
					</div>
					<div class="column last">
						<label for="username" class="insidelabel">
							<span>Secret question</span>
							<select type="text" name="question" id="question" value="" data-type="select" class="inputbox">
							
							</select>
						</label>
						<br />
						<label for="password" class="insidelabel">
							<span>Answer</span>
							<input type="text" name="answer" id="answer" value="" data-type="text" class="inputbox"/>
						</label>
					</div>
				</div>
			</div>
			<div id="buttons">
				<div id='backbutton' class='back-button'>
					<a href='javascript:window.history.back()'><img src='/img/back-arrow.png'/><p>Back</p></a>
				</div>
				<div id='nextbutton' class='normalbutton inversebuttoncolors'>
					<input type="submit" value="Next bit" id="submit" name="submit" />
				</div>
			</div>
		</form>
	</div>
	
	<div id='bgextras'>
		<div id='billboardbush' class='bgelement'></div>
		<div id='tree' class='bgelement'></div>
	</div>
</div>